{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Pushster&display=swap" rel="stylesheet">

      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
      {% endif %}

      {% block css %}
          <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}">
      {% endblock css %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body class="hack dark main container">
        {% block content %}
            {% block header %}
                {% if config.extra.after_dark_menu %}
                    <header class="nav-header">
                        <nav itemscope itemtype="https://schema.org/SiteNavigationElement">
                        {% for item in config.extra.after_dark_menu %}
                            <a itemprop="nav-url"
                               class="{% if item.url | replace(from="$BASE_URL", to=config.base_url) == current_url %}active{% endif %}"
                               href="{{ item.url | safe | replace(from="$BASE_URL", to=config.base_url) }}">
                                <span itemprop="name">[{{ item.name }}]
                                </span></a>
                  {% endfor %}    
                  
                  <a itemprop="contact" data-attr="github" href="https://www.github.com/bishalbagale"><i class="fab fa-github"></i></a>
                  <a itemprop="contact" data-attr="instagram" href="https://www.instagram.com/bagale_bishal"><i class="fab fa-instagram"></i></a>
                  <a itemprop="contact" data-attr="twitter" href="https://www.twitter.com/bagalebishal_"><i class="fab fa-twitter"></i></a>
                 
                      </nav>
                      
                        
                    </header>
                   
                {% endif %}
            {% endblock header %}

            <main>
                <!-- {% if config.extra.after_dark_title %}
                    <header>
                        <h1>{{ config.extra.after_dark_title }}</h1>
                    </header>
                {% endif %}
                {% for page in paginator.pages %}
                    {{ post_macros::page_in_list(page=page) }}
                {% endfor %} -->
                <div class="imageContainer">
                <img src="https://picsum.photos/200?grayscale&blur=1&random=1" alt="">
                <img itemprop="middleImage" src="https://picsum.photos/200/250?blur=1" alt="">
                <img src="https://picsum.photos/200?grayscale&blur=1&random=2" alt="">
              </div>
              <div class="intro" style="margin-top: 50px;">
      <p class= "intro-text" >" Since you've crossed the line to my mental asylum... WELCOME "</p>
      <p>I'm <strong style="opacity: 0.5;">Bishal Bagale</strong>. Here my thoughts are 
        uncensored and my voice doesn't get blured into the noise. I come here to take a break from the inevitible process of falling into the eternal social void . If you want some dumb advice, probably biased opinions and unorthodox statements then you're at the right place.</p>

              </div>


<!-- <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTQzMzAxODc2MTU3MjYxMzgz/emma-watson_gettyimages-619546914jpg.jpg" alt=""> -->
                
                <!-- <nav>
                  <p>
                    {% if paginator.previous %}
                      <a href="{{ paginator.previous }}">&laquo; Previous</a> |
                    {% endif %}
                    <span>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</span>
                    {% if paginator.next %}
                      | <a href="{{ paginator.next }}">Next &raquo;</a>
                    {% endif %}
                  </p>
                </nav> -->
            </main>
        {% endblock content %}
    </body>

</html>
